<?php
#set ( $_ = "$" )
#set ( $uncapEntityName = ${fn.uncapitalize($entity.name)} )
#set ( $capEntityName = ${fn.capitalize($entity.name)} )
##
#set( $entityKeyAttrs = "" )
#set( $entityKeyAttrsUrl = "" )
#foreach( $attribute in $entity.keyAttributes)
#if( $foreach.count < 2 )
#set( $entityKeyAttrs = "${_}"+${attribute.name} )
#set( $entityKeyAttrsUrl = ":"+${attribute.name} )
#else
#set( $entityKeyAttrs = $entityKeyAttrs + ", "+"${_}"+${attribute.name} )
#set( $entityKeyAttrsUrl = $entityKeyAttrsUrl + "/:"+${attribute.name} )
#end ## end if
#end ## end foreach
##
${_}router = Router::getInstance();

function fromJson() {
    ${_}json_str = file_get_contents('php://input');
    ${_}result = (array) json_decode(${_}json_str);
    return ${_}result;
}

${_}router->add_route('GET', '/api/v1/${uncapEntityName}', function(){
    return (CarApiController::getInstance()->getAll());
});

${_}router->add_route('GET', '/api/v1/${uncapEntityName}/${entityKeyAttrsUrl}', function($entityKeyAttrs){
    return (CarApiController::getInstance()->getOne($entityKeyAttrs));
});

${_}router->add_route('POST', '/api/v1/${uncapEntityName}', function(){
    ${_}data = fromJson();
    return (CarApiController::getInstance()->create(${_}data));
});

${_}router->add_route('PUT', '/api/v1/${uncapEntityName}', function(){
    ${_}data = fromJson();
    return (CarApiController::getInstance()->update(${_}data));
});

${_}router->add_route('DELETE', '/api/v1${uncapEntityName}/${entityKeyAttrsUrl}', function($entityKeyAttrs){
    return (CarApiController::getInstance()->delete($entityKeyAttrs));
});
});