<?php
#set ( $_ = "$" )
#set ( $uncapEntityName = ${fn.uncapitalize($entity.name)} )
#set ( $capEntityName = ${fn.capitalize($entity.name)} )
##
#set( $entityKeyAttrs = "" )
#set( $entityKeyAttrsUrl = "" )
#foreach( $attribute in $entity.keyAttributes)
#if( $foreach.count < 2 )
#set( $entityKeyAttrs = "${_}"+${fn.toLowerCase($attribute.name)} )
#set( $entityKeyAttrsUrl = ":"+${fn.toLowerCase($attribute.name)} )
#else
#set( $entityKeyAttrs = $entityKeyAttrs + ", "+"${_}"+${fn.toLowerCase($attribute.name)} )
#set( $entityKeyAttrsUrl = $entityKeyAttrsUrl + "/:"+${fn.toLowerCase($attribute.name)} )
#end ## end if
#end ## end foreach
##
// ${capEntityName} api routes
${_}router = Router::getInstance();

${_}router->add_route('GET', '/api/v1/${uncapEntityName}', function(){
    return (${capEntityName}ApiController::getInstance()->getAll());
});

${_}router->add_route('GET', '/api/v1/${uncapEntityName}/${entityKeyAttrsUrl}', function(${entityKeyAttrs}){
    return (${capEntityName}ApiController::getInstance()->getOne(${entityKeyAttrs}));
});

${_}router->add_route('POST', '/api/v1/${uncapEntityName}', function(){
    ${_}data = ${_}this->fromJson();;
    return (${capEntityName}ApiController::getInstance()->create(${_}data));
});

${_}router->add_route('PUT', '/api/v1/${uncapEntityName}', function(){
    ${_}data = ${_}this->fromJson();;
    return (${capEntityName}ApiController::getInstance()->update(${_}data));
});

${_}router->add_route('DELETE', '/api/v1${uncapEntityName}/${entityKeyAttrsUrl}', function(${entityKeyAttrs}){
    return (${capEntityName}ApiController::getInstance()->delete(${entityKeyAttrs}));
});